In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', 20)
pd.set_option('display.max_rows', 25)

Read Train data into a DataFrame

In [40]:
train_csv_file = "isl_wise_train_detail_03082015_v1.csv"
trains_df = pd.read_csv(train_csv_file)

Checking if the dataframe is loaded

In [41]:
trains_df.sample(5)

,Train No.,train Name,islno,station Code,Station Name,Arrival time,Departure time,Distance,Source Station Code,source Station Name,Destination station Code,Destination Station Name
34672,'15657',KANCHANJANGA EX,28,NBQ,NEW BONGAIGAON,'00:30:00','00:40:00',819,SDAH,SEALDAH,GHY,GUWAHATI
18345,'12781',SWARNA JAYANTHI,4,RRB,BIRUR JN,'00:03:00','00:05:00',213,MYS,MYSORE JN,NZM,H NIZAMUDDIN
48930,'18515',TATA VSKP EXP,24,SCM,SIMHACHALAM,'04:22:00','04:23:00',856,TATA,TATANAGAR JN,VSKP,VISAKHAPATNAM
23369,'13024',GAYA HWH EXPRES,16,BUP,BARIARPUR,'17:25:00','17:26:00',186,GAYA,GAYA JN,HWH,HOWRAH JN
49966,'18646',EAST COAST EXP,50,BHC,BHADRAK,'10:38:00','10:40:00',1296,HYB,HYDERABAD DECAN,HWH,HOWRAH JN

In [42]:
trains_df.shape

(69006, 12)

Cleaning up data and converting formats for easier manipulation

In [43]:
def df_perform_action(df, cols, action):
    '''
    (df, cols, action) -> None
    Helper function that takes a DataFrame, cols list and performs
    the action specified
    '''
    for col in cols:
        df[col] = action(df, col)

# Remove the quotes around the string for the following cols
df_perform_action(
    trains_df, 
    ['Train No.', 'Arrival time','Departure time'], 
    lambda x,y:x[y].str.strip("'")
)

In [44]:
# Change the format to date time
# Convert the columns with time into datetime
df_perform_action(
    trains_df, 
    ['Arrival time','Departure time'], 
    lambda x,y:pd.to_datetime(x[y])
)

In [45]:
trains_df.sample(5)

,Train No.,train Name,islno,station Code,Station Name,Arrival time,Departure time,Distance,Source Station Code,source Station Name,Destination station Code,Destination Station Name
64441,56701,MADURAI PASSR,25,KCVL,KOCHUVELI,2016-06-26 19:30:00,2016-06-26 19:31:00,103,PUU,PUNALUR,MDU,MADURAI JN
60090,22938,REWA RJT SUP EX,2,STA,SATNA,2016-06-26 19:20:00,2016-06-26 19:30:00,50,REWA,REWA,RJT,RAJKOT JN
54602,19707,ARAVALI EXPRESS,2,ADH,ANDHERI,2016-06-26 21:17:00,2016-06-26 21:19:00,7,BDTS,BANDRA TERMINUS,JP,JAIPUR
6780,12039,KGM ANVT SHT,1,KGM,KATHGODAM,2016-06-26 00:00:00,2016-06-26 15:35:00,0,KGM,KATHGODAM,ANVT,ANAND VIHAR TRM
34715,15661,RNC KYQ EXPRES,5,DHN,DHANBAD JN,2016-06-26 00:45:00,2016-06-26 00:50:00,164,RNC,RANCHI,KYQ,KAMAKHYA

In [ ]:
Some data that can be extr